.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #006B8F;
  }
  .search-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  input[type=text] {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #006B8F;
  }
  
 






  h1 {
    text-align: center;
  }
  
  table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
  }
  
  th {
    background-color: #3399FF;
  }