<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
 
</head>
<body>
  <div class="button-group">
    <a routerLink="/about" class="button">Tạo mới đơn hàng</a>
    <a routerLink="/create-supplier" class="button">In dữ liệu</a>
    <a routerLink="/donhang" class="button">Sửa Trạng Thái</a>
    <a routerLink="/thongbao" class="button">Gửi Thông Báo</a>
    <a routerLink="/create-category" class="button">Thêm danh mục</a>
  </div>
  <div class="search-container">
    <form action="/search">
      <input type="text" placeholder="Nhập từ khóa tìm kiếm" name="search">
      <button type="submit"><i class="fa fa-search"></i>Tìm Kiếm</button>
      <div class="container">
        <h1>Quản lý đơn hàng</h1>
      
      
      
<body>
<html>
    




